<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <div class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">/Home</span>
    </div>
  </header>
  <div class="p-5 mb-4 bg-light rounded-6">
    <div class="container-fluid py-5">
      <p class="col-md-8 fs-4">
        <%= markdown(@aboutme) %>
      </p>
    </div>
    <hr>
  </div>
</div>
