<div class="p-5 mb-4 bg-light rounded-6">
  <div class="container-fluid py-5">
    <p class="col-md-8 fs-4">
      <pre><code class="language-css"><%= File.read(@dir + "/src/arm.c") %></pre>
    </p>
  </div>
  <hr>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
