<p id="notice"><%= notice %></p>

<div class="d-flex flex-wrap justify-content-center ">
  <% @projects.each do |project| %>
    <div class="card" style="width: 502px;">
      <%= image_tag(project.name + ".png", class:"d-block", :crop => :fill, :size => "500x300") rescue image_tag("default.jpg", class:"d-block", :crop => :fill, :size => "500x300")%>
      <div class="card-body">
        <%= link_to project.name, project, class:"btn btn-light w-75"%>
      </div>
    </div>
  <% end %>
</div>

