<footer class="footer mt-auto py-2 bg-light">
    <div class="container">
      <span class="text-muted icon">
        <%= link_to image_tag("github.png", size: "30x30"), "https://github.com/Keaton-Clark", class: "icon" %>
        <%= link_to image_tag("linkedin.png", size: "35x35"), "https://www.linkedin.com/in/keaton-clark-64a702207/", class: "icon" %>
      </span>
    </div>
</footer>
